div {
    background-color: lightgrey;
    width: 800px;
    border: 5px solid rgb(190, 16, 169);
    padding: 20px;
    margin: 30px;
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    color: rgb(180, 64, 64);
    text-align: center;
    font-family: 'Teko', sans-serif;
}

h2 {
    color: red;
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
}

p {
    background-color: rgb(20, 157, 203);
    width: 800px;
    border: 4px solid rgb(131, 12, 186);
    padding: 20px;
    margin: 40px;
    align-items: center;
    font-family: 'Great Vibes', cursive;
}

body {
    border: 5px solid yellowgreen;
}

.a1 {
    background-color: rgb(206, 206, 9);
    border-radius: 2rem;
}

.a2 {
    background-color: brown;
    border: 1rem solid mediumturquoise;
}

.a3 {
    background-color: palevioletred;
}

.a4 {
    background-color: gold;
    border-radius: 1rem;
}

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Shadows+Into+Light&family=Teko:wght@500&display=swap" rel="stylesheet">
/* Responsiv */

#type::after {
    content: "laptop/destop";
}

@media only screen and (max-width:892px) {
    body {
        background-color: yellowgreen;
    }
    #type::after {
        content: "tablet";
    }
}


/* for small  */

@media screen and (max-width:600px) {
    body {
        background-color: yellowgreen;
    }
    #type::after {
        content: "mobile";
    }
}